<!DOCTYPE html>
<html>
    <head>
        <title>Scrumptius</title>
        <link rel="stylesheet" href="/css/vendor/foundation.css" />
        <link rel="stylesheet" href="/css/vendor/general_foundicons.css" />
        <script type="text/javascript" src="/js/vendor/jquery.js"></script>
        <script type="text/javascript" src="/js/vendor/handlebars.js"></script>
        <script type="text/javascript" src="/js/vendor/ember.js"></script>
        <script type="text/javascript" src="/js/vendor/ember-data.js"></script>
        <script type="text/javascript" src="/js/vendor/localstorage_adapter.js"></script>

        <script type="text/javascript" src="/js/app/app.js"></script>
        <script type="text/javascript" src="/js/app/store.js"></script>
        <script type="text/javascript" src="/js/app/router.js"></script>

        <script type="text/javascript" src="/js/app/controllers/bookmarks.js"></script>
        <script type="text/javascript" src="/js/app/controllers/bookmarks_new.js"></script>

        <script type="text/javascript" src="/js/app/models/bookmark.js"></script>

        <script type="text/javascript" src="/js/app/routes/bookmarks.js"></script>
        <script type="text/javascript" src="/js/app/routes/bookmarks_new.js"></script>
    </head>
    <body>
        <script type="text/x-handlebars" data-template-name="application">
            <nav class="top-bar">
                <ul>
                    <li class="name">
                        <h1>{{#linkTo "index"}}Scrumptious{{/linkTo}}</h1>
                    </li>
                    <li>
                        {{#linkTo "bookmarks"}}Bookmarks{{/linkTo}}
                    </li>
                </ul>
            </nav>

            <div class="container">
                <div class="row">
                    {{outlet}}
                </div>
            </div>
        </script>

        <script type="text/x-handlebars" data-template-name="bookmarks">

            <h2>You have {{controller.length}} bookmarks</h2>

            {{partial "bookmarkcontrols"}}

            <table class="twelve">
                <thead>
                    <tr>
                        <th {{action pushSort "title"}}>Title</th>
                        <th {{action pushSort "url"}}>URL</th>
                        <th {{action pushSort "favorite"}}>Favorite?</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each controller}}
                        <tr>
                            <td>{{title}}</td>
                            <td>{{url}}</td>
                            <td>{{view Ember.Checkbox checkedBinding="favorite"}}</td>
                        </tr>
                    {{else}}
                        <tr>
                            <td>You have no bookmarks</td>
                        </tr>
                    {{/each}}
                </tbody>
            </table>

            {{#linkTo "bookmarks.new"}}Add new bookmark{{/linkTo}}

            {{outlet}}
        </script>

        <script type="text/x-handlebars" data-template-name="_bookmarkcontrols">
            <dl class="sub-nav">
                <dt {{bindAttr class="sortAscending:foundicon-down-arrow:foundicon-up-arrow"}}>Sort by:</dt>
                <dd><a {{action pushSort "title"}}>Title</a></dd>
                <dd><a {{action pushSort "url"}}>URL</a></dd>
                <dd><a {{action pushSort "favorite"}}>Favorite</a></dd>
            </dl>
        </script>

        <script type="text/x-handlebars" data-template-name="bookmarks/new">
            <h3>New bookmarks</h3>
            <form {{action "save" on="submit"}} >
                <p>{{view Ember.TextField valueBinding="title" placeholder="Fill in a title"}}</p>
                <p>{{view Ember.TextField valueBinding="url" placeholder="Fill in a URL"}}</p>
                <p><button>Create a new bookmark</button></p>
            </form>
        </script>
    </body>
</html>
